html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar__menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.main__hero {
    margin-top: 5em;
    text-align: center;
}

section {
    margin: 0 auto 10em auto;
    max-width: 50%;
}

.active-class {
    border: solid 1px red;
}

footer {
    text-align: center;
}